.covid__header {
  font-size: 4rem;
  color: salmon;
  font-weight: bold;
}

.covid__body {
  background-color: aliceblue;
  height: 100%;
}

.covid__table {
  width: auto;
  margin-top: 2rem;
  text-align: center;
}

.covid__table-header {
  font-size: xx-large !important;
  width: 100%;
}

.covid__body {
  text-align: center;
}

.covid__full-data-body {
  text-align: center;
}

.covid__full-data-body .accordion {
  font-weight: bolder;
  font-size: x-large;
}

.covid__search-component {
  width: 50%;
  margin-top: 1rem;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  backdrop-filter: blur(0.38px);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: whitesmoke;
}